.row
	.col-md-12 
		p Hi {{currentuserlabeldata.firstname}}! Your record label {{currentuserlabeldata.labelname}} in the {{currentuserlabeldata.labelscene}} scene with the bands {{currentuserlabeldata.bandone}}, {{currentuserlabeldata.bandtwo}} and {{currentuserlabeldata.bandthree}} is doing great! 